page-view-idea {

}

.linked-item
{
    
}

    .linked-item div
    {
        color: #aaa;
    }

        .linked-item div strong
        {
            color: #000;
        }
        
        .linked-item div p
        {
            max-height: 150px;
            overflow: initial;
        }