page-search-idea {

}

.search-item
{
    
}

    .search-item div
    {
        color: #aaa;
    }

        .search-item div strong
        {
            color: #000;
        }
        
        .search-item div p
        {
            max-height: 150px;
            overflow: initial;
        }
